*{
	box-sizing:border-box;
	margin:0;
	font-family: 'Roboto', sans-serif;
}
.top{
	width:100%;
	background-color:#252525;
	color:white;
	padding:3px 70px;
	position:relative;
}
.top p{
	display:inline;
	position:absolute;
	top:16%;
	font-size:15px;
}
.right-1{
	float:right;
}
.top img{
}
.top-2{
	width:100%;
	display:flex;
	justify-content:space-around;
	background-color:#0e539c;
	color:white;
}
.logo{
	margin-left:40px;
}
.call{
	display:flex;
	width:15%;
	margin-left:200px;
}
.location{
	display:flex;
}
.call img,.location img{
	object-fit:scale-down;
	width:30%;
}
.call div,.location div{
	width:70%;
	padding-top:6%;
	font-size:15px;
}
.call div{
	padding-top:12%;
}
nav{
	width:100%;
	text-align:center;
	padding:15px;
}
nav a{
	text-decoration:none;
	color:black;
	font-size:14px;
	text-transform:uppercase;
	margin:0 18px;
	font-weight:600;
}
nav a:hover{
	text-decoration:underline;
}
.backgrnd{
	width:100%;
	height:600px;
	background-image:url("../Pathfinder Assignment/images/slider-b.jpg");
	position:relative;
	background-repeat:no-repeat;
	background-size:100% 600px;
}
.overlay{
	width:100%;
	font-size:5em;
	text-align:center;
	height:inherit;
	background-color:black;
	opacity:0.4;
	color:white;
}
.backgrnd-text{
	width:100%;
	font-size:5em;
	text-align:center;
	height:inherit;
	color:white;
	padding-top:10%;
	position:absolute;
	top:7%;
	font-weight:900;

}
.backgrnd-text span{
	color:cyan;
}
.buttons{
	width:60%;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	position:absolute;
	top:75%;
	left:20%;
	right:25%;
}
.blue{
	background-color:#0e539c;
	color:white;
	padding:10px 20px;
	border-radius:30px;
	border:none;
	font-size:1em;
	text-transform:uppercase;
	margin-right:20px;
}
.white {
	background-color:white;
	color:black;
	padding:10px 20px;
	border-radius:30px;
	border:none;
	font-size:1em;
	text-transform:uppercase;
}
.first{
	width:100%;
	text-align:center;
	position:relative;
	padding:50px 30px;
}
.line-1{
	width:7%;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
	margin-bottom:2px;

}
.line-2{
	border:1px solid black;
	width:7%;
	margin-left:45%;
	margin-right:40%;
}
.first h1{
	margin:15px;
	font-size:3em;
}
.first p:not(.facilities p){
	margin:15px;
	font-size:15px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	color:#666a79;
}
.facilities p{
	color:#666a79;
	font-size:15px;
}
.first span{
	color:#28cac8;
}
.first h3{
	color:#36cdcb;
	margin-left:5%;
	margin-top:20px;
}
.facilities{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content:space-between;
	margin-top:7%;
}
.bree{
	width:32%;
	text-align:left;
}
.bree p{
	margin-top:10px;
}
.bree .f{
	color:rgba(0,0,0,0.6);
	font-size:20px;
	margin-left:5%;
	font-weight:600;
	margin-bottom:30px;
}
.bree img{
	width:100%;
	height:250px;
}.bree .ad{
}
.second{
	width:100%;
	height:500px;
	background-image:url('../Pathfinder Assignment/images/pic.jpg');
	background-size:100% 500px;
	background-repeat:no-repeat;
	position:relative;
}
.overlay-2{
	width:100%;
	height:inherit;
	background-color:black;
	opacity:0.7;
}
.backgrndtext{
	width:80%;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:space-between;
	position:absolute;
	top:16%;
	left:10%;
}
.left{
	width:40%;
	margin-left:2.5%;
	margin-right:2.5%;	
}
.left button{
	width:100%;
	background-color:#0e539c;
	color:white;
	border:1px solid #0e539c;
	font-size:2.3em;
	border-radius:5px;
	font-weight:700;
	padding:20px 0px 20px 20px;
	text-align:left;

}
.right{
	width:50%;
	color:white;
	padding:0px 0px;
}
.right h1{
	font-size:3em;
	text-transform:capitalize;
	margin-bottom:15px;
}
.right p{
	font-size:17px;
	line-height:1.5;
}
.shadow .bree{
	box-shadow:0px 4px 4px rgba(0,0,0,0.2);
}
.third{
	width:100%;
	height:700px;
	background-image:url("../Pathfinder Assignment/images/pathfinder.jpg");
	background-size:100% 700px;
	background-repeat:no-repeat;
	position:relative;
}
.faint{
	width:30%;
	height:inherit;
	background-color:#0e4b8d;
	opacity:0.8;
	position:absolute;
	right:15%;
}
.anthem{
	width:30%;
	position:absolute;
	right:12%;
	color:white;
	line-height:1.8;
}
.anthem h1{
	font-size:2em;
	margin:20px 0px;
}
.anthem p{
	font-size:1.3em;
}
.contact{
	width:40%;
	margin-right:auto;
	background-color:white;
	color:black;
	text-align:center;
	padding:10px 10px;
	margin-top:20px;
}
.bree div{
	padding:10px;
	border:2px solid #28cac8;
	color:#28cac8;
	background-color:transparent;
	width:20%;
	text-align:center;
	margin-top:20px;
	
}
.fourth{
	width:100%;
	height:150px;
	background-color:#2664a6;
}
section{
	width:100%;
	padding:20px 0px;
}
.bree section>.p{
	padding:0 10px;
}
.p{
	border-right:1px solid rgba(0,0,0,0.2);
}
section p{
	display:inline;
	font-size:15px;
	padding:0 10px;
	color:#666a79;
}
.bree .adj{
	margin-top:20px;
	font-size:16px;
}
section h2{
	width:90%;
	margin-left:10px;
	font-size:23px;
}
.last{
	width:3.5%;
	margin-right:auto;
	margin-left:auto;
	padding:5px 5px;
	background-color:#0e539c;
	margin-top:60px;
	border-radius:30px;
}
footer{
	width:100%;
	padding:100px 0px 0px;
	color:white;
	background-color:black;

}
.world{
	border-bottom:1px solid #555;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	line-height:1.5;
	padding:10px 0 80px 0;
}
.world h2{
	width:20%;
	font-size:23px;
} 
.world hr{
	width:5%;
	padding:0.5px;
	background-color:#0e539c;
	margin-top:5px;
	margin-bottom:20px;
	border-color:blue;
}
.world p{
	font-size:17px;
}
.note{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:10px;
	padding:20px 0 30px 0;
}
.notes p{
	display:inline;
	background-color:#555;
	border-radius:50%;
	padding:10px;
	color:white;
	max-width:3%;
	margin:3px;
}
.notes{
	width:100%;
	padding:10px;
	display:flex;
	justify-content:center;
}
.note h2{
	color:white;
	font-weight:100;
}
.note span{
	color:#24cabd;
}
	